<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Css/styleCartas.css">
    <title>Clase10</title>
</head>
<body>
    <header>
        <div>
            <P class="primer">20% de descuento en todos los productos!</P>
            
        </div>
        <div class="segundo">
            <article>
                <img src="../Img/Logo.png" alt="Logo">
                <p >Nombre Tienda</p>
            </article>
            <nav>
                <ul class="barra1">
                    <li><a href="Register.html">Registrarme</a></li>
                    <li><a href="../index.html">Ingresar</a></li>
                    <li><a href=""></a>Contacto</li>
                </ul>
            </nav>
                
            
            
        </div>
    </header>
    <main>
        <section>
            <div class="tarjeta1 c1">
                <img  class="fotos" src="../Img/foto1.jpg" alt="">
                <img class="fondos"  src="../Img/fondo1.jpg" alt="">
                <article>
                    <h3 class="nombres">Batman</h3>
                    <p class="descripcion">Bruce Wayne es el único personaje que se identifica como Batman y aparece en Batman, Detective Comics, Batman y Robin, y Batman: The Dark Knight. Dick Grayson vuelve al manto de Nightwing </p>
                </article>
                
            </div>
        </section>
        <section>
            <div class="tarjeta1 c2">
                <img  class="fotos" src="../Img/foto2.jpg" alt="">
                <img class="fondos"  src="../Img/fondo2.jpg" alt="">
                <article>
                    <h3 class="nombres">Harley Quinn</h3>
                    <p class="descripcion">La creación de Harley Quinn fue una idea de último minuto propuesta por el escritor estadounidense Paul Dini para modificar una escena del vigésimo-segundo episodio de Batman: la serie animada
                    </p>
                </article>
                
            </div>

        </section>
        <section>
            <div class="tarjeta1">
                <img  class="fotos" src="../Img/foto3.jpg" alt="">
                <img class="fondos"  src="../Img/fondo3.jpg" alt="">
                <article>
                    <h3 class="nombres">Tony Stark</h3>
                    <p class="descripcion">"Nosotros creamos nuestros propios demonios". Trató de reescribir su historia, la de su familia, comprendió el propósito de su padre y como siempre, murió salvando a sus seres queridos.
                    </p>
                </article>
                
            </div>

        </section>
        <section>
            <div class="tarjeta1">
                <img  class="fotos" src="../Img/foto3.jpg" alt="">
                <img class="fondos"  src="../Img/fondo4.jpg" alt="">
                <article>
                    <h3 class="nombres">Tony Stark</h3>
                    <p class="descripcion">"Nosotros creamos nuestros propios demonios". Trató de reescribir su historia, la de su familia, comprendió el propósito de su padre y como siempre, murió salvando a sus seres queridos.
                    </p>
                </article>
                
            </div>

        </section>
     
       
        
        
    </main>
    
    <footer>
        <p>Todos los derechos reservados a FRONT END 1</p>
    </footer>
    
</body>
</html>